<div class="container" id="how">
  <div class="row">
    <div class="col-md-12">
      <h1>Our Chefts are ready to cook for you!</h1>
      <div class="howpic">
        <%= image_tag "how.png" %>
      </div>
    </div>
  </div>
</div>
