<div class="container" id="how">
  <div class="row">
    <div class="col-md-12">
      <h1>Our Chefts are ready to cook for you!</h1>
      <div class="howpic">
        <%= image_tag "how.png" %>
      </div>
    </div>
  </div>
</div>

  <section class="container features-container mar80bottom">
    <div class="how">
      <h1 class="features-title text-center">
        Founder Story
      </h1>
      <hr class="short-underline">
    </div>

    <div class="row textbox mar20bottom">
      <div class="media-text">
        Malaysian based NeighbourFood startup is definitely one of those startups that began on the grounds of passion, not just business. Edwin, CEO and Co-founder of the startup, left his home and family back in East Malaysia at young age to pursue his career. He loves tasty home dishes and would always look around his area for a good satisfying meal that reminds him of his home. While Ryan, is well-travelled financial advisor passionate about tech.

        Connie, whom takes cooking as her passion and loves to share her dishes while enjoying a meaningful conversation with people.

        Three months ago, they met in a Full Stack Web Development Bootcamp based in Cyberjaya. Since then, the idea was formed over their casual conversation. Wanting to share local dish culture to many Malaysians, NeighbourFood was founded.
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-center">
        <div class="img-holder"><%= image_tag "ed.jpg", class: "img-circle img-responsive" %></div>
        <h4>Edwin</h4>
        <p>CEO, CTO &amp; Co-Founder</p>
      </div>
      <div class="col-md-4 text-center">
          <div class="img-holder"><%= image_tag "ryan.jpg", class: "img-circle img-responsive" %></div>
        <h4>Ryan</h4>
        <p>CFO &amp; Co-Founder</p>
      </div>
      <div class="col-md-4 text-center">
        <div class="img-holder"><%= image_tag "connie.jpg", class: "img-circle img-responsive" %></div>
        <h4>Connie</h4>
        <p>CPO &amp; Co-Founder</p>
      </div>
    </div>
</section>
